In [1]:
import pandas as pd

In [2]:
#import school district data for MO
Dist = pd.read_csv('../raw_data/School District List.csv')

In [3]:
Dist.head()

,CTYDIST,ELEMDIST1,DNAME,DADDRESS1,DADDRESS2,DCITY,DZIP,DCOUNTY,DSUPAREA,DPYC,...,SECMI,SDLNAME,SDFNAME,SDMINIT,SDSALUAT,DIEMAIL,URL,HouseDistricts,SenateDistricts,CongressionalDistricts
0,48914,NaN,Academie Lafayette,201 East Armour Boulevard,201 East Armour Boulevard,Kansas City,641111205,Jackson,B,.,...,NaN,Mbengue,Elimane,NaN,Mr.,embengue@academielafayette.org,http://www.academielafayette.org,NaN,NaN,NaN
1,48927,NaN,Academy For Integrated Arts,7910 Troost,NaN,Kansas City,641311920,Jackson,B,NaN,...,NaN,DeGraff,Tricia,NaN,Dr.,tricia.degraff@afiakc.org,http://www.afiakc.org,NaN,NaN,NaN
2,1090,NaN,Adair Co. R-I,600 Rombauer Avenue,NaN,Novinger,635592477,Adair,I,A,...,NaN,Daniels,Robin,M,Mrs.,rdaniels@novinger.k12.mo.us,http://www.novinger.k12.mo.us/,"3 , 4",18,06
3,1092,NaN,Adair Co. R-II,205 W Dewey,NaN,Brashear,635332429,Adair,I,A,...,NaN,Brummit,Joshua,R,Mr.,josh_brummit@adair2.brashear.k12.mo.us,http://brashear.k12.mo.us/,4,18,06
4,7123,NaN,Adrian R-III,601 N Houston,P.O. Box 98,Adrian,647200098,Bates,F,A,...,NaN,Lile,Don,W,Mr.,DON.LILE@ADRIAN.K12.MO.US,http://www.adrian.k12.mo.us,"126, 56 , 57",31,04

In [4]:
#Rename columns and keep only code, name, city, and county
Dist = Dist.rename(columns={'DNAME':'District Name', 'DCITY':'City', 'DCOUNTY':'County', 'CTYDIST':'District Code'})
Dist = Dist[['District Code', 'District Name', 'City', 'County']]
Dist.columns

Index(['District Code', 'District Name', 'City', 'County'], dtype='object')

In [5]:
Dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   District Code  559 non-null    int64
 1   District Name  559 non-null    object
 2   City           559 non-null    object
 3   County         558 non-null    object
dtypes: int64(1), object(3)
memory usage: 17.6+ KB

In [6]:
Dist[Dist['County'].isnull()]

     District Code                   District Name             City County
318         201201  Mo Schls For The Sev Disabled   Jefferson City     NaN

In [7]:
#import 'District Accreditation' which has the district accreditation for each district in 2021
Accred = pd.read_excel('../raw_data/District Accreditation.xlsx')

In [8]:
Accred.head()

   SCHOOL_YEAR  COUNTY_DISTRICT_CODE   DISTRICT_NAME CLASSIFICATION
0         2021                  1090   ADAIR CO. R-I              A
1         2021                  1092  ADAIR CO. R-II              A
2         2021                  7123    ADRIAN R-III              A
3         2021                103129    ADVANCE R-IV              A
4         2021                 96098      AFFTON 101              A

In [9]:
#Rename columns of Accred to match Dist and merge the dataframes
Accred = Accred.rename(columns = {'COUNTY_DISTRICT_CODE':'District Code', 'DISTRICT_NAME':'District Name', 'CLASSIFICATION':'Accreditation Status'})
Accred = Accred.drop(columns='SCHOOL_YEAR')

In [10]:
DistrictInfo = Accred.merge(Dist, how='left', on=['District Code'])
DistrictInfo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 517 entries, 0 to 516
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   District Code         517 non-null    int64
 1   District Name_x       517 non-null    object
 2   Accreditation Status  517 non-null    object
 3   District Name_y       517 non-null    object
 4   City                  517 non-null    object
 5   County                517 non-null    object
dtypes: int64(1), object(5)
memory usage: 28.3+ KB

In [11]:
#review the DataFrame
DistrictInfo.head()

,District Code,District Name_x,Accreditation Status,District Name_y,City,County
0,1090,ADAIR CO. R-I,A,Adair Co. R-I,Novinger,Adair
1,1092,ADAIR CO. R-II,A,Adair Co. R-II,Brashear,Adair
2,7123,ADRIAN R-III,A,Adrian R-III,Adrian,Bates
3,103129,ADVANCE R-IV,A,Advance R-IV,Advance,Stoddard
4,96098,AFFTON 101,A,Affton 101,St. Louis,St. Louis

In [12]:
DistrictInfo[DistrictInfo['Accreditation Status']!= 'A']

,District Code,District Name_x,Accreditation Status,District Name_y,City,County
148,41004,GILMAN CITY R-IV,P,Gilman City R-IV,Gilman City,Harrison
172,78002,HAYTI R-II,P,Hayti R-II,Hayti,Pemiscot
176,48072,HICKMAN MILLS C-1,P,Hickman Mills C-1,Kansas City,Jackson
204,48078,KANSAS CITY 33,P,Kansas City 33,Kansas City,Jackson
301,91091,NAYLOR R-II,P,Naylor R-II,Naylor,Ripley
317,96109,NORMANDY SCHOOLS COLLABORATIVE,P,Normandy Schools Collaborative,St. Louis,St. Louis
399,96111,RIVERVIEW GARDENS,P,Riverview Gardens,St. Louis,St. Louis

In [13]:
#Formatting changes, drop District Name_y and rename District Name_x, change Accreditation Status Values
DistrictInfo = DistrictInfo.drop(columns='District Name_y')
DistrictInfo = DistrictInfo.rename(columns={'District Name_x':'District Name'})
DistrictInfo.loc[DistrictInfo["Accreditation Status"] == "A", "Accreditation Status"] = 'Accredited'
DistrictInfo.loc[DistrictInfo["Accreditation Status"] == "P", "Accreditation Status"] = 'Provisional'

In [14]:
DistrictInfo.head()

   District Code   District Name Accreditation Status        City      County
0           1090   ADAIR CO. R-I           Accredited   Novinger       Adair
1           1092  ADAIR CO. R-II           Accredited   Brashear       Adair
2           7123    ADRIAN R-III           Accredited     Adrian       Bates
3         103129    ADVANCE R-IV           Accredited    Advance    Stoddard
4          96098      AFFTON 101           Accredited  St. Louis   St. Louis

In [15]:
#There is data for 517 school districts

In [16]:
#import the 'Building Level Per Pupil Expenditures 2019' data 
spend2019 = pd.read_excel('../raw_data/Building Level Per Pupil Expenditures 2019.xlsx')

In [17]:
spend2019.head()

,Year,District Code,District Name,Building Number,Building Name,Total September Membership,Federal Expenditures Building,State and Local Expenditures Building,Total Building,Federal Expenditures District,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,2019,1090,ADAIR CO. R-I,1050,ADAIR CO. HIGH,95.00,162.08,10001.70,10163.78,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,1090,ADAIR CO. R-I,4020,ADAIR CO. ELEM.,120.00,663.82,5714.72,6378.55,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,1090,ADAIR CO. R-I,9999,DISTRICT TOTALS,215.00,442.12,11163.63,11605.75,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,1091,KIRKSVILLE R-III,1050,KIRKSVILLE SR. HIGH,736.63,469.76,6794.20,7263.96,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,1091,KIRKSVILLE R-III,3000,WILLIAM MATTHEW MIDDLE SCHOOL,579.33,171.20,5579.88,5751.08,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#review the spend2019 DataFrame
spend2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2714 entries, 0 to 2713
Data columns (total 36 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2714 non-null   int64
 1   District Code                          2714 non-null   int64
 2   District Name                          2712 non-null   object
 3   Building Number                        2714 non-null   int64
 4   Building Name                          2714 non-null   object
 5   Total September Membership             2714 non-null   float64
 6   Federal Expenditures Building          2714 non-null   float64
 7   State and Local Expenditures Building  2714 non-null   float64
 8   Total Building                         2714 non-null   float64
 9   Federal Expenditures District          2714 non-null   float64
 10  State and Local Expenditures District  2714 non-null   float64
 11  Total District                         2714 non-null   float64
 12  Expenditures Per September Membership  2714 non-null   float64
 13  Unnamed: 13                            0 non-null      float64
 14  Unnamed: 14                            0 non-null      float64
 15  Unnamed: 15                            0 non-null      float64
 16  Unnamed: 16                            0 non-null      float64
 17  Unnamed: 17                            0 non-null      float64
 18  Unnamed: 18                            0 non-null      float64
 19  Unnamed: 19                            0 non-null      float64
 20  Unnamed: 20                            0 non-null      float64
 21  Unnamed: 21                            0 non-null      float64
 22  Unnamed: 22                            0 non-null      float64
 23  Unnamed: 23                            0 non-null      float64
 24  Unnamed: 24                            0 non-null      float64
 25  Unnamed: 25                            0 non-null      float64
 26  Unnamed: 26                            0 non-null      float64
 27  Unnamed: 27                            0 non-null      float64
 28  Unnamed: 28                            0 non-null      float64
 29  Unnamed: 29                            0 non-null      float64
 30  Unnamed: 30                            0 non-null      float64
 31  Unnamed: 31                            0 non-null      float64
 32  Unnamed: 32                            0 non-null      float64
 33  Unnamed: 33                            0 non-null      float64
 34  Unnamed: 34                            0 non-null      float64
 35  Unnamed: 35                            0 non-null      float64
dtypes: float64(31), int64(3), object(2)
memory usage: 763.4+ KB

In [19]:
#use dropna(how='all') to drop empty columns
spend2019 = spend2019.dropna(axis='columns', how='all')

In [20]:
spend2019[spend2019['District Name'].isnull()]

,Year,District Code,District Name,Building Number,Building Name,Total September Membership,Federal Expenditures Building,State and Local Expenditures Building,Total Building,Federal Expenditures District,State and Local Expenditures District,Total District,Expenditures Per September Membership
1181,2019,48921,NaN,6970,PATHWAY ACADEMY ELEMENTARY,179.0,2289.15,8720.59,11009.74,0.0,7349.65,7349.65,18359.38
1182,2019,48921,NaN,9999,DISTRICT TOTALS,179.0,2289.15,16070.23,18359.38,0.0,0.00,0.00,0.00

In [21]:
#048921 is a charter school that is closed. We can omit this data.
spend2019 = spend2019.drop([1181, 1182])
spend2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2712 entries, 0 to 2713
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2712 non-null   int64
 1   District Code                          2712 non-null   int64
 2   District Name                          2712 non-null   object
 3   Building Number                        2712 non-null   int64
 4   Building Name                          2712 non-null   object
 5   Total September Membership             2712 non-null   float64
 6   Federal Expenditures Building          2712 non-null   float64
 7   State and Local Expenditures Building  2712 non-null   float64
 8   Total Building                         2712 non-null   float64
 9   Federal Expenditures District          2712 non-null   float64
 10  State and Local Expenditures District  2712 non-null   float64
 11  Total District                         2712 non-null   float64
 12  Expenditures Per September Membership  2712 non-null   float64
dtypes: float64(8), int64(3), object(2)
memory usage: 296.6+ KB

In [22]:
#omit columns from district only dataframe that relate to specific buildings
spend2019dist = spend2019[spend2019['Building Name']=='DISTRICT TOTALS']
spend2019dist=spend2019dist.iloc[: ,0:9]
spend2019dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 552 entries, 2 to 2713
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   552 non-null    int64
 1   District Code                          552 non-null    int64
 2   District Name                          552 non-null    object
 3   Building Number                        552 non-null    int64
 4   Building Name                          552 non-null    object
 5   Total September Membership             552 non-null    float64
 6   Federal Expenditures Building          552 non-null    float64
 7   State and Local Expenditures Building  552 non-null    float64
 8   Total Building                         552 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 43.1+ KB

In [23]:
spend2019dist.head()

,Year,District Code,District Name,Building Number,Building Name,Total September Membership,Federal Expenditures Building,State and Local Expenditures Building,Total Building
2,2019,1090,ADAIR CO. R-I,9999,DISTRICT TOTALS,215.00,442.12,11163.63,11605.75
7,2019,1091,KIRKSVILLE R-III,9999,DISTRICT TOTALS,2407.01,475.51,9810.46,10285.97
10,2019,1092,ADAIR CO. R-II,9999,DISTRICT TOTALS,147.26,547.53,12691.69,13239.22
14,2019,2089,NORTH ANDREW CO. R-VI,9999,DISTRICT TOTALS,355.00,1082.57,10867.00,11949.57
16,2019,2090,AVENUE CITY R-IX,9999,DISTRICT TOTALS,212.00,393.05,8637.69,9030.75

In [24]:
spend2019dist = spend2019dist.drop(['Building Name', 'Building Number'], axis=1)

In [25]:
spend2019dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 552 entries, 2 to 2713
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   552 non-null    int64
 1   District Code                          552 non-null    int64
 2   District Name                          552 non-null    object
 3   Total September Membership             552 non-null    float64
 4   Federal Expenditures Building          552 non-null    float64
 5   State and Local Expenditures Building  552 non-null    float64
 6   Total Building                         552 non-null    float64
dtypes: float64(4), int64(2), object(1)
memory usage: 34.5+ KB

In [26]:
#import the 'Building Level Per Pupil Expenditures 2020' data 
spend2020 = pd.read_excel('../raw_data/Building Level Per Pupil Expenditures 2020.xlsx')
spend2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2717 entries, 0 to 2716
Data columns (total 33 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2717 non-null   int64
 1   District Code                          2717 non-null   int64
 2   District Name                          2717 non-null   object
 3   Building Number                        2717 non-null   int64
 4   Building Name                          2717 non-null   object
 5   Total September Membership             2717 non-null   float64
 6   Federal Expenditures Building          2717 non-null   float64
 7   State and Local Expenditures Building  2717 non-null   float64
 8   Total Building                         2717 non-null   float64
 9   Federal Expenditures District          2717 non-null   float64
 10  State and Local Expenditures District  2717 non-null   float64
 11  Total District                         2717 non-null   float64
 12  Expenditures Per September Membership  2717 non-null   float64
 13  Unnamed: 13                            0 non-null      float64
 14  Unnamed: 14                            0 non-null      float64
 15  Unnamed: 15                            0 non-null      float64
 16  Unnamed: 16                            0 non-null      float64
 17  Unnamed: 17                            0 non-null      float64
 18  Unnamed: 18                            0 non-null      float64
 19  Unnamed: 19                            0 non-null      float64
 20  Unnamed: 20                            0 non-null      float64
 21  Unnamed: 21                            0 non-null      float64
 22  Unnamed: 22                            0 non-null      float64
 23  Unnamed: 23                            0 non-null      float64
 24  Unnamed: 24                            0 non-null      float64
 25  Unnamed: 25                            0 non-null      float64
 26  Unnamed: 26                            0 non-null      float64
 27  Unnamed: 27                            0 non-null      float64
 28  Unnamed: 28                            0 non-null      float64
 29  Unnamed: 29                            0 non-null      float64
 30  Unnamed: 30                            0 non-null      float64
 31  Unnamed: 31                            0 non-null      float64
 32  Unnamed: 32                            0 non-null      float64
dtypes: float64(28), int64(3), object(2)
memory usage: 700.6+ KB

In [27]:
spend2020 = spend2020.dropna(axis='columns', how='all')
spend2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2717 entries, 0 to 2716
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2717 non-null   int64
 1   District Code                          2717 non-null   int64
 2   District Name                          2717 non-null   object
 3   Building Number                        2717 non-null   int64
 4   Building Name                          2717 non-null   object
 5   Total September Membership             2717 non-null   float64
 6   Federal Expenditures Building          2717 non-null   float64
 7   State and Local Expenditures Building  2717 non-null   float64
 8   Total Building                         2717 non-null   float64
 9   Federal Expenditures District          2717 non-null   float64
 10  State and Local Expenditures District  2717 non-null   float64
 11  Total District                         2717 non-null   float64
 12  Expenditures Per September Membership  2717 non-null   float64
dtypes: float64(8), int64(3), object(2)
memory usage: 276.1+ KB

In [28]:
#omit columns from district only dataframe that relate to specific buildings
spend2020dist = spend2020[spend2020['Building Name']=='DISTRICT TOTALS']
spend2020dist=spend2020dist.iloc[: ,0:9]
spend2020dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554 entries, 2 to 2716
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   554 non-null    int64
 1   District Code                          554 non-null    int64
 2   District Name                          554 non-null    object
 3   Building Number                        554 non-null    int64
 4   Building Name                          554 non-null    object
 5   Total September Membership             554 non-null    float64
 6   Federal Expenditures Building          554 non-null    float64
 7   State and Local Expenditures Building  554 non-null    float64
 8   Total Building                         554 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 43.3+ KB

In [29]:
spend2020dist = spend2020dist.drop(['Building Name', 'Building Number'], axis=1)
spend2020dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554 entries, 2 to 2716
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   554 non-null    int64
 1   District Code                          554 non-null    int64
 2   District Name                          554 non-null    object
 3   Total September Membership             554 non-null    float64
 4   Federal Expenditures Building          554 non-null    float64
 5   State and Local Expenditures Building  554 non-null    float64
 6   Total Building                         554 non-null    float64
dtypes: float64(4), int64(2), object(1)
memory usage: 34.6+ KB

In [30]:
#the data for 2020 has 2 more rows, what rows are unique to spend2020dist
dif_list = [x for x in list(spend2020['District Name'].unique()) if x not in list(spend2019['District Name'].unique())]

In [31]:
print(dif_list)

['KANSAS CITY GIRLS PREP ACADEMY', 'KAIROS ACADEMIES', 'THE SOULARD SCHOOL']

In [32]:
#KC Girls Prep, Kairos Academy were new to the state so 2019 did not have expenditure data, 
#same with Soulard School that turned from private to charter school

In [33]:
#the data for 2020 has 2 more rows, what rows are unique to spend2020dist
dif_list2 = [x for x in list(spend2019['District Name'].unique()) if x not in list(spend2020['District Name'].unique())]
print(dif_list2)

['ST. LOUIS COLLEGE PREP']

In [34]:
#St Louis College Prep closed in 2019

In [35]:
#import the 'Building Level Per Pupil Expenditures 2021' data 
spend2021 = pd.read_excel('../raw_data/Building Level Per Pupil Expenditures 2021.xlsx')
spend2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2715 entries, 0 to 2714
Data columns (total 33 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2715 non-null   int64
 1   District Code                          2715 non-null   int64
 2   District Name                          2715 non-null   object
 3   Building Number                        2715 non-null   int64
 4   Building Name                          2715 non-null   object
 5   Total September Membership             2715 non-null   float64
 6   Federal Expenditures Building          2715 non-null   float64
 7   State and Local Expenditures Building  2715 non-null   float64
 8   Total Building                         2715 non-null   float64
 9   Federal Expenditures District          2715 non-null   float64
 10  State and Local Expenditures District  2715 non-null   float64
 11  Total District                         2715 non-null   float64
 12  Expenditures Per September Membership  2715 non-null   float64
 13  Unnamed: 13                            0 non-null      float64
 14  Unnamed: 14                            0 non-null      float64
 15  Unnamed: 15                            0 non-null      float64
 16  Unnamed: 16                            0 non-null      float64
 17  Unnamed: 17                            0 non-null      float64
 18  Unnamed: 18                            0 non-null      float64
 19  Unnamed: 19                            0 non-null      float64
 20  Unnamed: 20                            0 non-null      float64
 21  Unnamed: 21                            0 non-null      float64
 22  Unnamed: 22                            0 non-null      float64
 23  Unnamed: 23                            0 non-null      float64
 24  Unnamed: 24                            0 non-null      float64
 25  Unnamed: 25                            0 non-null      float64
 26  Unnamed: 26                            0 non-null      float64
 27  Unnamed: 27                            0 non-null      float64
 28  Unnamed: 28                            0 non-null      float64
 29  Unnamed: 29                            0 non-null      float64
 30  Unnamed: 30                            0 non-null      float64
 31  Unnamed: 31                            0 non-null      float64
 32  Unnamed: 32                            0 non-null      float64
dtypes: float64(28), int64(3), object(2)
memory usage: 700.1+ KB

In [36]:
#omit empty columns
spend2021 = spend2021.dropna(axis='columns', how = 'all')
spend2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2715 entries, 0 to 2714
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2715 non-null   int64
 1   District Code                          2715 non-null   int64
 2   District Name                          2715 non-null   object
 3   Building Number                        2715 non-null   int64
 4   Building Name                          2715 non-null   object
 5   Total September Membership             2715 non-null   float64
 6   Federal Expenditures Building          2715 non-null   float64
 7   State and Local Expenditures Building  2715 non-null   float64
 8   Total Building                         2715 non-null   float64
 9   Federal Expenditures District          2715 non-null   float64
 10  State and Local Expenditures District  2715 non-null   float64
 11  Total District                         2715 non-null   float64
 12  Expenditures Per September Membership  2715 non-null   float64
dtypes: float64(8), int64(3), object(2)
memory usage: 275.9+ KB

In [37]:
#omit columns from district only dataframe that relate to specific buildings
spend2021dist = spend2021[spend2021['Building Name']=='DISTRICT TOTALS']
spend2021dist=spend2021dist.iloc[: ,0:9]
spend2021dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 553 entries, 2 to 2714
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   553 non-null    int64
 1   District Code                          553 non-null    int64
 2   District Name                          553 non-null    object
 3   Building Number                        553 non-null    int64
 4   Building Name                          553 non-null    object
 5   Total September Membership             553 non-null    float64
 6   Federal Expenditures Building          553 non-null    float64
 7   State and Local Expenditures Building  553 non-null    float64
 8   Total Building                         553 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 43.2+ KB

In [38]:
spend2021dist = spend2021dist.drop(['Building Name', 'Building Number'], axis=1)
spend2021dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 553 entries, 2 to 2714
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   553 non-null    int64
 1   District Code                          553 non-null    int64
 2   District Name                          553 non-null    object
 3   Total September Membership             553 non-null    float64
 4   Federal Expenditures Building          553 non-null    float64
 5   State and Local Expenditures Building  553 non-null    float64
 6   Total Building                         553 non-null    float64
dtypes: float64(4), int64(2), object(1)
memory usage: 34.6+ KB

In [39]:
dif_list3 = [x for x in list(spend2020['District Name'].unique()) if x not in list(spend2021['District Name'].unique())]
print(dif_list3)

['CARONDELET LEADERSHIP ACADEMY']

In [40]:
#Carondelet Leadership Academy closed at the end of 2020

In [41]:
#mconcat the expenditures dataframes into one with the expenditures for 2019-2021; 
#the total should be 1659
mergedspenddist = pd.concat([spend2019dist,spend2020dist], ignore_index=True )

In [42]:
mergedspenddist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1106 entries, 0 to 1105
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   1106 non-null   int64
 1   District Code                          1106 non-null   int64
 2   District Name                          1106 non-null   object
 3   Total September Membership             1106 non-null   float64
 4   Federal Expenditures Building          1106 non-null   float64
 5   State and Local Expenditures Building  1106 non-null   float64
 6   Total Building                         1106 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 60.6+ KB

In [43]:
distexp = pd.concat([mergedspenddist, spend2021dist], ignore_index=True)
distexp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1659 entries, 0 to 1658
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   1659 non-null   int64
 1   District Code                          1659 non-null   int64
 2   District Name                          1659 non-null   object
 3   Total September Membership             1659 non-null   float64
 4   Federal Expenditures Building          1659 non-null   float64
 5   State and Local Expenditures Building  1659 non-null   float64
 6   Total Building                         1659 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 90.9+ KB

In [46]:
distexp[distexp['District Name']=='ADAIR CO. R-I']

,Year,District Code,District Name,Total September Membership,Federal Expenditures Building,State and Local Expenditures Building,Total Building
0,2019,1090,ADAIR CO. R-I,215.0,442.12,11163.63,11605.75
552,2020,1090,ADAIR CO. R-I,225.0,795.06,9875.96,10671.02
1106,2021,1090,ADAIR CO. R-I,205.3,950.17,11173.50,12123.67

In [51]:
#Avg the expenditure from the past 3 years and drop the year column
ExpAvg = distexp.groupby(['District Code', 'District Name'], as_index=False).mean().round(2)
ExpAvg = ExpAvg.drop(columns = 'Year')
ExpAvg[ExpAvg['District Name']=='ADAIR CO. R-I']

,District Code,District Name,Total September Membership,Federal Expenditures Building,State and Local Expenditures Building,Total Building
0,1090,ADAIR CO. R-I,215.1,729.12,10737.7,11466.81

In [ ]:
#merge DistrictInfo and ExpAvg
Districts =