In [1]:
import pandas as pd

In [35]:
#import school district data for MO
Dist = pd.read_csv('School District List.csv')
Dist.info()

FileNotFoundError: [Errno 2] No such file or directory: 'School District List.csv'

In [2]:
#import 'District Accreditation' which has the district accreditation for each district in 2021
Accred = pd.read_excel('../raw_data/District Accreditation.xlsx')

In [3]:
Accred.head()

   SCHOOL_YEAR  COUNTY_DISTRICT_CODE   DISTRICT_NAME CLASSIFICATION
0         2021                  1090   ADAIR CO. R-I              A
1         2021                  1092  ADAIR CO. R-II              A
2         2021                  7123    ADRIAN R-III              A
3         2021                103129    ADVANCE R-IV              A
4         2021                 96098      AFFTON 101              A

In [4]:
#review the DataFrame
Accred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   SCHOOL_YEAR           517 non-null    int64
 1   COUNTY_DISTRICT_CODE  517 non-null    int64
 2   DISTRICT_NAME         517 non-null    object
 3   CLASSIFICATION        517 non-null    object
dtypes: int64(2), object(2)
memory usage: 16.3+ KB

In [5]:
#There is data for 517 school districts

In [6]:
#import the 'Building Level Per Pupil Expenditures 2019' data 
spend2019 = pd.read_excel('../raw_data/Building Level Per Pupil Expenditures 2019.xlsx')

In [7]:
spend2019.head()

,Year,District Code,District Name,Building Number,Building Name,Total September Membership,Federal Expenditures Building,State and Local Expenditures Building,Total Building,Federal Expenditures District,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,2019,1090,ADAIR CO. R-I,1050,ADAIR CO. HIGH,95.00,162.08,10001.70,10163.78,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,1090,ADAIR CO. R-I,4020,ADAIR CO. ELEM.,120.00,663.82,5714.72,6378.55,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,1090,ADAIR CO. R-I,9999,DISTRICT TOTALS,215.00,442.12,11163.63,11605.75,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,1091,KIRKSVILLE R-III,1050,KIRKSVILLE SR. HIGH,736.63,469.76,6794.20,7263.96,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,1091,KIRKSVILLE R-III,3000,WILLIAM MATTHEW MIDDLE SCHOOL,579.33,171.20,5579.88,5751.08,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#review the spend2019 DataFrame
spend2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2714 entries, 0 to 2713
Data columns (total 36 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2714 non-null   int64
 1   District Code                          2714 non-null   int64
 2   District Name                          2712 non-null   object
 3   Building Number                        2714 non-null   int64
 4   Building Name                          2714 non-null   object
 5   Total September Membership             2714 non-null   float64
 6   Federal Expenditures Building          2714 non-null   float64
 7   State and Local Expenditures Building  2714 non-null   float64
 8   Total Building                         2714 non-null   float64
 9   Federal Expenditures District          2714 non-null   float64
 10  State and Local Expenditures District  2714 non-null   float64
 11  Total District                         2714 non-null   float64
 12  Expenditures Per September Membership  2714 non-null   float64
 13  Unnamed: 13                            0 non-null      float64
 14  Unnamed: 14                            0 non-null      float64
 15  Unnamed: 15                            0 non-null      float64
 16  Unnamed: 16                            0 non-null      float64
 17  Unnamed: 17                            0 non-null      float64
 18  Unnamed: 18                            0 non-null      float64
 19  Unnamed: 19                            0 non-null      float64
 20  Unnamed: 20                            0 non-null      float64
 21  Unnamed: 21                            0 non-null      float64
 22  Unnamed: 22                            0 non-null      float64
 23  Unnamed: 23                            0 non-null      float64
 24  Unnamed: 24                            0 non-null      float64
 25  Unnamed: 25                            0 non-null      float64
 26  Unnamed: 26                            0 non-null      float64
 27  Unnamed: 27                            0 non-null      float64
 28  Unnamed: 28                            0 non-null      float64
 29  Unnamed: 29                            0 non-null      float64
 30  Unnamed: 30                            0 non-null      float64
 31  Unnamed: 31                            0 non-null      float64
 32  Unnamed: 32                            0 non-null      float64
 33  Unnamed: 33                            0 non-null      float64
 34  Unnamed: 34                            0 non-null      float64
 35  Unnamed: 35                            0 non-null      float64
dtypes: float64(31), int64(3), object(2)
memory usage: 763.4+ KB

In [9]:
#use dropna(how='all') to drop empty columns
spend2019 = spend2019.dropna(axis='columns', how='all')

In [10]:
spend2019[spend2019['District Name'].isnull()]

,Year,District Code,District Name,Building Number,Building Name,Total September Membership,Federal Expenditures Building,State and Local Expenditures Building,Total Building,Federal Expenditures District,State and Local Expenditures District,Total District,Expenditures Per September Membership
1181,2019,48921,NaN,6970,PATHWAY ACADEMY ELEMENTARY,179.0,2289.15,8720.59,11009.74,0.0,7349.65,7349.65,18359.38
1182,2019,48921,NaN,9999,DISTRICT TOTALS,179.0,2289.15,16070.23,18359.38,0.0,0.00,0.00,0.00

In [11]:
#048921 is a charter school that is closed. We can omit this data.
spend2019 = spend2019.drop([1181, 1182])
spend2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2712 entries, 0 to 2713
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2712 non-null   int64
 1   District Code                          2712 non-null   int64
 2   District Name                          2712 non-null   object
 3   Building Number                        2712 non-null   int64
 4   Building Name                          2712 non-null   object
 5   Total September Membership             2712 non-null   float64
 6   Federal Expenditures Building          2712 non-null   float64
 7   State and Local Expenditures Building  2712 non-null   float64
 8   Total Building                         2712 non-null   float64
 9   Federal Expenditures District          2712 non-null   float64
 10  State and Local Expenditures District  2712 non-null   float64
 11  Total District                         2712 non-null   float64
 12  Expenditures Per September Membership  2712 non-null   float64
dtypes: float64(8), int64(3), object(2)
memory usage: 296.6+ KB

In [12]:
#omit columns from district only dataframe that relate to specific buildings
spend2019dist = spend2019[spend2019['Building Name']=='DISTRICT TOTALS']
spend2019dist=spend2019dist.iloc[: ,0:9]
spend2019dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 552 entries, 2 to 2713
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   552 non-null    int64
 1   District Code                          552 non-null    int64
 2   District Name                          552 non-null    object
 3   Building Number                        552 non-null    int64
 4   Building Name                          552 non-null    object
 5   Total September Membership             552 non-null    float64
 6   Federal Expenditures Building          552 non-null    float64
 7   State and Local Expenditures Building  552 non-null    float64
 8   Total Building                         552 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 43.1+ KB

In [13]:
spend2019dist.head()

,Year,District Code,District Name,Building Number,Building Name,Total September Membership,Federal Expenditures Building,State and Local Expenditures Building,Total Building
2,2019,1090,ADAIR CO. R-I,9999,DISTRICT TOTALS,215.00,442.12,11163.63,11605.75
7,2019,1091,KIRKSVILLE R-III,9999,DISTRICT TOTALS,2407.01,475.51,9810.46,10285.97
10,2019,1092,ADAIR CO. R-II,9999,DISTRICT TOTALS,147.26,547.53,12691.69,13239.22
14,2019,2089,NORTH ANDREW CO. R-VI,9999,DISTRICT TOTALS,355.00,1082.57,10867.00,11949.57
16,2019,2090,AVENUE CITY R-IX,9999,DISTRICT TOTALS,212.00,393.05,8637.69,9030.75

In [14]:
spend2019dist = spend2019dist.drop(['Building Name', 'Building Number'], axis=1)

In [15]:
spend2019dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 552 entries, 2 to 2713
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   552 non-null    int64
 1   District Code                          552 non-null    int64
 2   District Name                          552 non-null    object
 3   Total September Membership             552 non-null    float64
 4   Federal Expenditures Building          552 non-null    float64
 5   State and Local Expenditures Building  552 non-null    float64
 6   Total Building                         552 non-null    float64
dtypes: float64(4), int64(2), object(1)
memory usage: 34.5+ KB

In [16]:
#import the 'Building Level Per Pupil Expenditures 2020' data 
spend2020 = pd.read_excel('../raw_data/Building Level Per Pupil Expenditures 2020.xlsx')
spend2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2717 entries, 0 to 2716
Data columns (total 33 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2717 non-null   int64
 1   District Code                          2717 non-null   int64
 2   District Name                          2717 non-null   object
 3   Building Number                        2717 non-null   int64
 4   Building Name                          2717 non-null   object
 5   Total September Membership             2717 non-null   float64
 6   Federal Expenditures Building          2717 non-null   float64
 7   State and Local Expenditures Building  2717 non-null   float64
 8   Total Building                         2717 non-null   float64
 9   Federal Expenditures District          2717 non-null   float64
 10  State and Local Expenditures District  2717 non-null   float64
 11  Total District                         2717 non-null   float64
 12  Expenditures Per September Membership  2717 non-null   float64
 13  Unnamed: 13                            0 non-null      float64
 14  Unnamed: 14                            0 non-null      float64
 15  Unnamed: 15                            0 non-null      float64
 16  Unnamed: 16                            0 non-null      float64
 17  Unnamed: 17                            0 non-null      float64
 18  Unnamed: 18                            0 non-null      float64
 19  Unnamed: 19                            0 non-null      float64
 20  Unnamed: 20                            0 non-null      float64
 21  Unnamed: 21                            0 non-null      float64
 22  Unnamed: 22                            0 non-null      float64
 23  Unnamed: 23                            0 non-null      float64
 24  Unnamed: 24                            0 non-null      float64
 25  Unnamed: 25                            0 non-null      float64
 26  Unnamed: 26                            0 non-null      float64
 27  Unnamed: 27                            0 non-null      float64
 28  Unnamed: 28                            0 non-null      float64
 29  Unnamed: 29                            0 non-null      float64
 30  Unnamed: 30                            0 non-null      float64
 31  Unnamed: 31                            0 non-null      float64
 32  Unnamed: 32                            0 non-null      float64
dtypes: float64(28), int64(3), object(2)
memory usage: 700.6+ KB

In [17]:
spend2020 = spend2020.dropna(axis='columns', how='all')
spend2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2717 entries, 0 to 2716
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2717 non-null   int64
 1   District Code                          2717 non-null   int64
 2   District Name                          2717 non-null   object
 3   Building Number                        2717 non-null   int64
 4   Building Name                          2717 non-null   object
 5   Total September Membership             2717 non-null   float64
 6   Federal Expenditures Building          2717 non-null   float64
 7   State and Local Expenditures Building  2717 non-null   float64
 8   Total Building                         2717 non-null   float64
 9   Federal Expenditures District          2717 non-null   float64
 10  State and Local Expenditures District  2717 non-null   float64
 11  Total District                         2717 non-null   float64
 12  Expenditures Per September Membership  2717 non-null   float64
dtypes: float64(8), int64(3), object(2)
memory usage: 276.1+ KB

In [18]:
#omit columns from district only dataframe that relate to specific buildings
spend2020dist = spend2020[spend2020['Building Name']=='DISTRICT TOTALS']
spend2020dist=spend2020dist.iloc[: ,0:9]
spend2020dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554 entries, 2 to 2716
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   554 non-null    int64
 1   District Code                          554 non-null    int64
 2   District Name                          554 non-null    object
 3   Building Number                        554 non-null    int64
 4   Building Name                          554 non-null    object
 5   Total September Membership             554 non-null    float64
 6   Federal Expenditures Building          554 non-null    float64
 7   State and Local Expenditures Building  554 non-null    float64
 8   Total Building                         554 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 43.3+ KB

In [19]:
spend2020dist = spend2020dist.drop(['Building Name', 'Building Number'], axis=1)
spend2020dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 554 entries, 2 to 2716
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   554 non-null    int64
 1   District Code                          554 non-null    int64
 2   District Name                          554 non-null    object
 3   Total September Membership             554 non-null    float64
 4   Federal Expenditures Building          554 non-null    float64
 5   State and Local Expenditures Building  554 non-null    float64
 6   Total Building                         554 non-null    float64
dtypes: float64(4), int64(2), object(1)
memory usage: 34.6+ KB

In [20]:
#the data for 2020 has 2 more rows, what rows are unique to spend2020dist
dif_list = [x for x in list(spend2020['District Name'].unique()) if x not in list(spend2019['District Name'].unique())]

In [21]:
print(dif_list)

['KANSAS CITY GIRLS PREP ACADEMY', 'KAIROS ACADEMIES', 'THE SOULARD SCHOOL']

In [22]:
#KC Girls Prep, Kairos Academy were new to the state so 2019 did not have expenditure data, 
#same with Soulard School that turned from private to charter school

In [23]:
#the data for 2020 has 2 more rows, what rows are unique to spend2020dist
dif_list2 = [x for x in list(spend2019['District Name'].unique()) if x not in list(spend2020['District Name'].unique())]
print(dif_list2)

['ST. LOUIS COLLEGE PREP']

In [24]:
#St Louis College Prep closed in 2019

In [25]:
#import the 'Building Level Per Pupil Expenditures 2021' data 
spend2021 = pd.read_excel('../raw_data/Building Level Per Pupil Expenditures 2021.xlsx')
spend2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2715 entries, 0 to 2714
Data columns (total 33 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2715 non-null   int64
 1   District Code                          2715 non-null   int64
 2   District Name                          2715 non-null   object
 3   Building Number                        2715 non-null   int64
 4   Building Name                          2715 non-null   object
 5   Total September Membership             2715 non-null   float64
 6   Federal Expenditures Building          2715 non-null   float64
 7   State and Local Expenditures Building  2715 non-null   float64
 8   Total Building                         2715 non-null   float64
 9   Federal Expenditures District          2715 non-null   float64
 10  State and Local Expenditures District  2715 non-null   float64
 11  Total District                         2715 non-null   float64
 12  Expenditures Per September Membership  2715 non-null   float64
 13  Unnamed: 13                            0 non-null      float64
 14  Unnamed: 14                            0 non-null      float64
 15  Unnamed: 15                            0 non-null      float64
 16  Unnamed: 16                            0 non-null      float64
 17  Unnamed: 17                            0 non-null      float64
 18  Unnamed: 18                            0 non-null      float64
 19  Unnamed: 19                            0 non-null      float64
 20  Unnamed: 20                            0 non-null      float64
 21  Unnamed: 21                            0 non-null      float64
 22  Unnamed: 22                            0 non-null      float64
 23  Unnamed: 23                            0 non-null      float64
 24  Unnamed: 24                            0 non-null      float64
 25  Unnamed: 25                            0 non-null      float64
 26  Unnamed: 26                            0 non-null      float64
 27  Unnamed: 27                            0 non-null      float64
 28  Unnamed: 28                            0 non-null      float64
 29  Unnamed: 29                            0 non-null      float64
 30  Unnamed: 30                            0 non-null      float64
 31  Unnamed: 31                            0 non-null      float64
 32  Unnamed: 32                            0 non-null      float64
dtypes: float64(28), int64(3), object(2)
memory usage: 700.1+ KB

In [26]:
#omit empty columns
spend2021 = spend2021.dropna(axis='columns', how = 'all')
spend2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2715 entries, 0 to 2714
Data columns (total 13 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   2715 non-null   int64
 1   District Code                          2715 non-null   int64
 2   District Name                          2715 non-null   object
 3   Building Number                        2715 non-null   int64
 4   Building Name                          2715 non-null   object
 5   Total September Membership             2715 non-null   float64
 6   Federal Expenditures Building          2715 non-null   float64
 7   State and Local Expenditures Building  2715 non-null   float64
 8   Total Building                         2715 non-null   float64
 9   Federal Expenditures District          2715 non-null   float64
 10  State and Local Expenditures District  2715 non-null   float64
 11  Total District                         2715 non-null   float64
 12  Expenditures Per September Membership  2715 non-null   float64
dtypes: float64(8), int64(3), object(2)
memory usage: 275.9+ KB

In [27]:
#omit columns from district only dataframe that relate to specific buildings
spend2021dist = spend2021[spend2021['Building Name']=='DISTRICT TOTALS']
spend2021dist=spend2021dist.iloc[: ,0:9]
spend2021dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 553 entries, 2 to 2714
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   553 non-null    int64
 1   District Code                          553 non-null    int64
 2   District Name                          553 non-null    object
 3   Building Number                        553 non-null    int64
 4   Building Name                          553 non-null    object
 5   Total September Membership             553 non-null    float64
 6   Federal Expenditures Building          553 non-null    float64
 7   State and Local Expenditures Building  553 non-null    float64
 8   Total Building                         553 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 43.2+ KB

In [28]:
spend2021dist = spend2021dist.drop(['Building Name', 'Building Number'], axis=1)
spend2021dist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 553 entries, 2 to 2714
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   553 non-null    int64
 1   District Code                          553 non-null    int64
 2   District Name                          553 non-null    object
 3   Total September Membership             553 non-null    float64
 4   Federal Expenditures Building          553 non-null    float64
 5   State and Local Expenditures Building  553 non-null    float64
 6   Total Building                         553 non-null    float64
dtypes: float64(4), int64(2), object(1)
memory usage: 34.6+ KB

In [29]:
dif_list3 = [x for x in list(spend2020['District Name'].unique()) if x not in list(spend2021['District Name'].unique())]
print(dif_list3)

['CARONDELET LEADERSHIP ACADEMY']

In [30]:
#Carondelet Leadership Academy closed at the end of 2020

In [31]:
#mconcat the expenditures dataframes into one with the expenditures for 2019-2021; 
#the total should be 1659
mergedspenddist = pd.concat([spend2019dist,spend2020dist], ignore_index=True )

In [32]:
mergedspenddist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1106 entries, 0 to 1105
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   1106 non-null   int64
 1   District Code                          1106 non-null   int64
 2   District Name                          1106 non-null   object
 3   Total September Membership             1106 non-null   float64
 4   Federal Expenditures Building          1106 non-null   float64
 5   State and Local Expenditures Building  1106 non-null   float64
 6   Total Building                         1106 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 60.6+ KB

In [33]:
distexp = pd.concat([mergedspenddist, spend2021dist], ignore_index=True)
distexp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1659 entries, 0 to 1658
Data columns (total 7 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   1659 non-null   int64
 1   District Code                          1659 non-null   int64
 2   District Name                          1659 non-null   object
 3   Total September Membership             1659 non-null   float64
 4   Federal Expenditures Building          1659 non-null   float64
 5   State and Local Expenditures Building  1659 non-null   float64
 6   Total Building                         1659 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 90.9+ KB